<div class="table-container">
  <table>
    <thead>
      <tr>
        <th colspan=5></th>
        <% @support.data_ranges.each do |k, value| %>
          <th colspan="<%= value.size %>"><%= k %></th>
        <% end %>
      </tr>
      <tr>
        <th rowspan=2>Subject</th>
        <th rowspan=2>Task</th>
        <th rowspan=2>Owner</th>
        <th rowspan=2>Status</th>
        <th rowspan=2>Est</th>
        <% @support.list_date.each do |date| %>
          <th class="<%= :today if date.today? %> <%= :holiday if date.saturday? || date.sunday? %>">
            <%= date.strftime("%d") %>
          </th>
        <% end %>
      </tr>
      <tr>
        <% @support.list_date.each do |date| %>
          <th class="<%= :today if date.today? %> <%= :holiday if date.saturday? || date.sunday? %>">
            <%= date.strftime("%a") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @support.stories.each do |story| %>
        <tr>
          <td rowspan="<%= story.sub_tasks.size.zero? ? 1 : story.sub_tasks.size %>">
            <%= link_to story.subject, "https://dev.zigexn.vn/issues/#{story.issue_id}",
              target: "_blank" %>
          </td>
          <% task = story.sub_tasks.first %>
          <td class="text-align-left <%= :done if task.closed? %>">
            <%= link_to task.subject, "https://dev.zigexn.vn/issues/#{task.issue_id}",
              target: "_blank" %>
          </td>
          <td class="<%= :done if task.closed? %>"><%= task&.owner_name %></td>
          <td class="<%= :done if task.closed? %>"><%= task&.status %></td>
          <td class="<%= :done if task.closed? %>"><%= task&.total_estimated_hours.to_f %></td>
          <% @support.list_date.each do |date| %>
            <td class="<%= @support.class_name(task, date) %>"></td>
          <% end %>
        </tr>
        <% story.sub_tasks.each.with_index(0) do |task, i| %>
          <% next if i.zero? %>
          <tr>
            <td class="text-align-left <%= :done if task.closed? %>">
              <%= link_to task.subject, "https://dev.zigexn.vn/issues/#{task.issue_id}",
              target: "_blank" %>
            </td>
            <td class="<%= :done if task.closed? %>"><%= task.owner_name %></td>
            <td class="<%= :done if task.closed? %>">
              <%= task.status %>
              <br>
              <%= "#{task.done_ratio}%" %>
            </td class="<%= :done if task.closed? %>">
            <td class="<%= :done if task.closed? %>">
              <%= task.total_estimated_hours.to_f %>
            </td>
            <% @support.list_date.each do |date| %>
              <td class="<%= @support.class_name(task, date) %>"></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'entries/index' %>
<% end %>
