<div class="table-container">
  <table>
    <thead>
      <tr>
        <th colspan=5></th>
        <% @support.data_ranges.each do |k, value| %>
          <th colspan="<%= value.size %>"><%= k %></th>
        <% end %>
      </tr>
      <tr>
        <th rowspan=2>Subject</th>
        <th rowspan=2>Task</th>
        <th rowspan=2>Owner</th>
        <th rowspan=2>Status</th>
        <th rowspan=2>Done</th>
        <% @support.list_date.each do |data| %>
          <th class="<%= 'today' if data.today? %>"><%= data.strftime("%d") %></th>
        <% end %>
      </tr>
      <tr>
        <% @support.list_date.each do |data| %>
          <th class="<%= 'today' if data.today? %>"><%= data.strftime("%a") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @support.stories.each do |story| %>
        <tr>
          <td rowspan="<%= story.sub_tasks.size.zero? ? 1 : story.sub_tasks.size %>"><%= story.subject %></td>
          <% task = story.sub_tasks.first %>
          <td><%= task&.subject %></td>
          <td><%= task&.owner_name %></td>
          <td><%= task&.status %></td>
          <td><%= task&.done_ratio %></td>
          <% @support.list_date.each do |date| %>
            <td></td>
          <% end %>
        </tr>
        <% story.sub_tasks.each.with_index(0) do |task, i| %>
          <% next if i.zero? %>
          <tr>
            <td><%= task.subject %></td>
            <td><%= task.owner_name %></td>
            <td><%= task.status %></td>
            <td><%= "#{task.done_ratio}%" %></td>
            <% @support.list_date.each do |date| %>
              <td class="<%= @support.class_name(task, date) %>"></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'entries/index' %>
<% end %>
