<div class="display-flex">
  <div style="width: 70%;">
    <%= form_with url: apw_root_path, method: :get, local: true do |f| %>
      <div class="checkbox-container">
        <% User.actived.each do |user| %>
          <label>
            <%= check_box_tag "q[user_ids][]", user.id,
              @support.params_search.dig(:user_ids).include?(user.id.to_s) %>
            <%= user.name %>
          </label>
        <% end %>
      </div>
      <hr>
      <label>
        <%= check_box_tag "q[include_status_done]", 1,
          @support.params_search.dig(:include_status_done) %>
        <strong>Include done tasks</strong>
      </label>
      <%= f.button "Search", type: :submit, id: :search_button %>
    <% end %>
  </div>
  <div class="legend">
    <div><span class="color-box done"></span>Completed tasks</div>
    <div><span class="color-box today"></span>Current date</div>
    <div><span class="color-box holiday"></span>Days off (weekends or holidays)</div>
    <div><span class="color-box in_progress"></span>Partially completed task</div>
    <div><span class="color-box activity"></span>Task completion plan</div>
  </div>
</div>

<br>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th colspan=5></th>
        <% @support.data_ranges.each do |k, value| %>
          <th colspan="<%= value.size %>"><%= k %></th>
        <% end %>
      </tr>
      <tr>
        <th rowspan=2>Subject</th>
        <th rowspan=2>Task Description</th>
        <th rowspan=2>Owner</th>
        <th rowspan=2>Status</th>
        <th rowspan=2>Est</th>
        <% @support.list_date.each do |date| %>
          <th class="<%= :today if date.today? %> <%= :holiday if date.saturday? || date.sunday? %>">
            <%= date.strftime("%d") %>
          </th>
        <% end %>
      </tr>
      <tr>
        <% @support.list_date.each do |date| %>
          <th class="<%= :today if date.today? %> <%= :holiday if date.saturday? || date.sunday? %>">
            <%= date.strftime("%a") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @support.stories.each do |story| %>
        <% sub_tasks = @support.tasks.select{|x| x.story_id == story.id } %>
        <tr>
          <td rowspan="<%= sub_tasks.size.zero? ? 1 : sub_tasks.size %>">
            <%= link_to story.subject, "https://dev.zigexn.vn/issues/#{story.issue_id}",
              target: "_blank" %>
            <br>
            <%= story.status %>
          </td>
          <% task = sub_tasks.first %>
          <td class="text-align-left <%= :done if task.closed? %>">
            <%= link_to "[#{task.kind}] #{task.subject}",
              "https://dev.zigexn.vn/issues/#{task.issue_id}",
              target: "_blank" %>
          </td>
          <td class="<%= :done if task.closed? %>"><%= task&.owner_name %></td>
          <td class="<%= :done if task.closed? %>">
            <%= task&.status %>
            <br>
            <%= "#{task&.done_ratio}%" %>
          </td>
          <td class="<%= :done if task.closed? %>"><%= task&.total_estimated_hours.to_f %></td>
          <% @support.list_date.each do |date| %>
            <td class="<%= @support.class_name(task, date) %>"></td>
          <% end %>
        </tr>
        <% sub_tasks.each.with_index(0) do |task, i| %>
          <% next if i.zero? %>
          <tr>
            <td class="text-align-left <%= :done if task.closed? %>">
              <%= link_to "[#{task.kind}] #{task.subject}",
              "https://dev.zigexn.vn/issues/#{task.issue_id}",
              target: "_blank" %>
            </td>
            <td class="<%= :done if task.closed? %>"><%= task.owner_name %></td>
            <td class="<%= :done if task.closed? %>">
              <%= task.status %>
              <br>
              <%= "#{task.done_ratio}%" %>
            </td class="<%= :done if task.closed? %>">
            <td class="<%= :done if task.closed? %>">
              <%= task.total_estimated_hours.to_f %>
            </td>
            <% @support.list_date.each do |date| %>
              <td class="<%= @support.class_name(task, date) %>"></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'entries/index' %>
<% end %>
