<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= content_for(:title) || "Report" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%# <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'header' %>
    <% if content_for? :stylesheet %>
      <%= yield :stylesheet %>
    <% end %>
  </head>
  <body>
    <header>
      <h1>Team Work Performance Report</h1>
      <p>Evaluate, analyze, and improve the work performance of team members</p>

      <!-- Navbar -->
      <nav class="navbar">
        <a href="#home">Home</a>
        <%# <a href="#report">Báo Cáo</a> %>
        <%# <a href="#contact">Liên Hệ</a> %>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
  <% if content_for? :javascripts %>
    <%= yield :javascripts %>
  <% end %>
</html>
