<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= content_for(:title) || "Report" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_include_tag  'jquery-1.7.2.min' %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%# <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'header' %>
    <% if content_for? :stylesheet %>
      <%= yield :stylesheet %>
    <% end %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/scroll_top_button' %>

  </body>

  <% if content_for? :javascripts %>
    <%= yield :javascripts %>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function() {
      let typingTimer;
      let doneTypingInterval = 300;

      $("#search").on("input", function() {
        clearTimeout(typingTimer);

        typingTimer = setTimeout(function () {
          let query = $("#search").val().toLowerCase();
          searchFunction(query);
        }, doneTypingInterval);
      });

      function searchFunction(query) {
        if (!query) {
          $("#results").hide();
          return;
        }

        $.ajax({
          url: "<%= apw_ajax_stories_path %>",
          type: "GET",
          data: {subject: query},
          dataType: "json",  // Kiểu dữ liệu trả về (json, html, text,...)
          success: function(response) {
            var resultsDiv = $("#results");

            resultsDiv.empty();
            if (query && response.length) {
              response.forEach(item => {
                resultsDiv.append(
                  `<div class='result-item'>
                  <a target="_blank" href="/apw/stories/${item["id"]}">${item["subject"]}</a>
                  </div>`
                );
              });
              resultsDiv.show();
            } else {
              resultsDiv.hide();
            }
          },
          error: function(xhr, status, error) {
              console.error(error); // Xử lý khi có lỗi
          }
        });
      }

      $(document).click(function(e) {
        if (!$(e.target).closest('.search-container').length) {
          $("#results").hide();
        }
      });
    });
  </script>
</html>
